
* {
box-sizing: border-box; background-color: black; color: white;
}


.heading{
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif; font-size:xx-large;
font-style: bold;
}


.submitbtn {
background-color: rgb(175, 62, 62); color: white;
 
display: inline-block; padding: 15px 32px; text-align: center; width: 120px; height: 50px; padding: 20px;
}


input[type=text], input[type=password] { width: 100%;
padding: 15px; margin: 5px 0 22px 0; display: block; border: none; background: #f1f1f1;

}


input[type=text]:focus, input[type=password]:focus 
{ background-color: #ddd;
outline: none;
}

